{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <link rel="shortcut icon" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylee.css' %}">
    <title>Products</title>
</head>

<style>
    .item-2-btn a:nth-child(1){
        margin-right: 30px;
    }
    .item-2-btn a {
        color: #fff;
        padding: 8px 15px;
        background-color: #22b0fc;
        font-weight: 500;
        border-radius: 5px;
    }
</style>

<body>

    <!-- coding start-->
    <!-- header -->
    <header class="header header-spatial">

        <div class="header-home ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row header-left">
                            <div class="col-md-4 p-0 ">

                                <div class="logo d-flex">
                                    <a href="./">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                        <h6>Kotir Ghor</h6>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 p-0">

                                <div class="manu">
                                    <a href="../">Home</a>
                                    <a href="../product">Product</a>
                                    <a href="../payment">Payment</a>
                                    <a href="../about">About Us</a>
                                    <a href="../contact">Contract Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 d-flex justify-content-end">
                        <div class="navbar p-0 navbar-light">
                            <form action="#">
                                <div class="row p-0">
                                    <div class="col-md-7 p-0">
                                        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="search-button bg form-control" type="submit">Search</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <div class="col-md-4"></div>

                    <div class="col-md-2">
                        <!-- back end work -->
                        <!-- s sadi for you -->
                        <div class="sing-in">
                            <ul class="sing-in">
                                {% if user.is_authenticated %}
                                <li><i class="fa-solid fa-user"></i></li>
                                <li>{{ user.username }}</li>
                                <li>or</li>
                                <li><a href="../logout">Log Out</a></li>
                                {% else %}
                                <li><i class="fa-solid fa-user"></i></li>
                                <li><a href="../register">Register</a></li>
                                <li>or</li>
                                <li><a href="../login">Login</a></li>
                                {% endif %}
                            </ul>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    

<!-- item -->
<section class="item-section" style="padding-top: 80px;">
    <div class="container">
            <div class="shadow py-5 px-3 mb-5 bg-body rounded-2" style="width: 100%; margin-top: 30px;">
                <div class="item-section-wrapper">
                    <div class="row item-content">
                        <div class="col-lg-6 item-img-cntent">
                            <img style="max-width: 80%;" src="../{{ item.image_path }}" alt="">
                        </div> 
                        <div class="col-lg-6 item-text-cntent">
                            <div class="item-title-wrapper" style="margin-top: 100px; margin-left: 30px;">
                                <h2 class="item-title" style= "margin-bottom: 10px;">{{ item.title }}</h2>
                                <p class="item-pera">{{ item.discription }}</p>
                                <h3 class="price" style="margin-top: 20px;">{{ item.price }}Tk</h3>
                                <div class="item-2-btn" style="margin-top: 20px;">
                                    <!-- cart operation -->
                                    <a class="submit" type="submit" href="{{ item.get_add_to_cart }}">Add cart</a>

                                    <!-- START -->
                                    
                        <!-- check-out button -->
                        <!-- Button trigger modal -->
                        {% if user.is_authenticated %}
                        <div class="row ">
                            <button class="check-out s-btn submit mt-3 primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Buy Now
                            </button>
                        </div>
                        {% endif %}
                        
                                       
                        <!-- Payment alart -->
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="payment-check" style="left: 31%;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class=" red" style="color: white !important;background-color: #e66161c7 !important;"><span><i class="fa-solid fa-xmark"></i></span>{{message}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="payment-check">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p style="color: white;background-color: #74d958bd;"><span><i class="fa-solid fa-check"></i></span>Payment sending wait for mail</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        



                        <!-- Modal -->
                        <div class="modal payment-model fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog payment-details">
                                <div class="modal-content py-4 px-4">
                                    <div class="modal-header mb-3">
                                        <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!--Payment details -->

                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                              Bikash Pyment
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div><h6 class="color">Pay your bill 01778273599</h6></div>
                                                    <form method="post" class="row g-3 needs-validation bkashform" novalidate>
                                                        {% csrf_token %}
                                                        <input type="number" name="phonenum" class="form-control mt-1 mx-1 " placeholder="Your bkash number " id="validationCustomNumber " aria-describedby="inputGroupPrepend " required>
                                                        <input type="text" name="txnid" class="form-control mt-1 mx-1 " placeholder="Your txn Id" id="validationCustomLocation " aria-describedby="inputGroupPrepend " required>
                                                        <input type="text" name="address" class="form-control mt-1 mx-1 " placeholder="Your address" id="validationCustomLocation " aria-describedby="inputGroupPrepend " required>

                                                        <button class="btn payment-btn btn-primary mb-2" type="submit ">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Cash On Delivery
                                            </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">

                                                    <form method="post" class="row g-3 needs-validation " novalidate>
                                                        {% csrf_token %}
                                                        <input type="number" name="phonenum" class="form-control mt-1 mx-1 " placeholder="Your phone number" id="validationCustomNumber " aria-describedby="inputGroupPrepend " required>
                                                        <input type="text" name="address" class="form-control mt-1 mx-1 " placeholder="Your address" id="validationCustomLocation " aria-describedby="inputGroupPrepend " required>

                                                        <button class="btn payment-btn btn-primary " type="submit ">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                                    <!-- end -->
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
    </div>
</section>

       <!---->
    <!--card button-->
    <!--s sadi for you-->
    <div class="add-card">
        <a href="payment"><i class="fa-regular bg fa-credit-card">
        </i></a>
        <span style="color: red;font-size: 20px;position: relative;left: -27px;bottom: 14px;">{{total_quantity}}</span>
    </div>


<!-- fotter section-->

    <div class="footer bg-white">
        <div class="footer-top padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <a href="../" class="">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <h6>Kotir Ghor</h6>
                            </a>
                        </div>
                        <div class="phone d-flex">
                            <span class="left hover"><i class="fa-solid fa-headset"></i></span>
                            <p class="right">+8801712442341</p>
                        </div>

                        <div class="contract-info">
                            <h4>Contact info</h4>
                            <span>Dhaka Polytechnic Institute ; Shaheed Tajuddin Ahmed Avenue, Tejgaon Industrial Area,Dhaka-1208</span>
                            <div class="contact-info-social d-flex">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h4>CUSTOMER SERVICE</h4>
                        <a href="../contact">Contact Us</a>
                    </div>
                    <div class="col-md-4">
                        <h4>TERMS & POLICY</h4>
                        <a href="../TermsAndConditions">Terms & Condition of use</a>
                        <a href="../PrivacyAndPolicy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <p>Copy right by <a href="#">Gorup-5</a> - All rights Reserved</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <script>
        var myModal = document.getElementById('exampleModal');
        var myInput = document.getElementById('exampleModal');

        myModal.addEventListener('shown.bs.modal', function() {
            myInput.focus()
        });
    </script>
</body>

</html>